<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="../css/default.css" />
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/panel.css" />
	</head>

	<body>
		<div class="panel-box">
			<!--设备管理-->
			<div class="col-sm-6 col-md-4">
				<div class="panel-content text-center">
					<div class="panel-title">
						<i class="iconfont">&#xe60e;</i>
						<em>设备管理</em>
					</div>
					<div class="table-content">
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>养号设备</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>任务设备</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>休眠设备</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>异常设备</h4>
								<span>40</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--任务管理-->
			<div class="col-sm-6 col-md-4">
				<div class="panel-content text-center">
					<div class="panel-title">
						<i class="iconfont">&#xe612;</i>
						<em>任务管理</em>
					</div>
					<div class="table-content">
						<a href="#"> 
							<div class="col-sm-6 bor-right">
								<h4>新增任务</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>待执行任务</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>执行中任务</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>已完成任务</h4>
								<span>40</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--用户管理-->
			<div class="col-sm-6 col-md-4">
				<div class="panel-content text-center">
					<div class="panel-title">
						<i class="iconfont">&#xe632;</i>
						<em>用户管理</em>
					</div>
					<div class="table-content">
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>新增用户</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>总用户</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>累计收入</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>养号设备</h4>
								<span>40</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--消息管理-->
			<div class="col-sm-6 col-md-4 marTop20">
				<div class="panel-content text-center">
					<div class="panel-title">
						<i class="iconfont">&#xe640;</i>
						<em>消息管理</em>
					</div>
					<div class="table-content">
						<ul class="information-content">
							<li>
								<a href="">
									<span>您有一条新任务，请尽快审核</span>
									<em>2016/8/5 10:30</em>
								</a>
							</li>
							<li>
								<a href="">
									<span>您有一条新任务，请尽快审核</span>
									<em>2016/8/5 10:30</em>
								</a>
							</li>
							<li>
								<a href="">
									<span>您有一条新任务，请尽快审核</span>
									<em>2016/8/5 10:30</em>
								</a>
							</li>
							<li>
								<a href="">
									<span>您有一条新任务，请尽快审核</span>
									<em>2016/8/5 10:30</em>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--资金管理-->
			<div class="col-sm-6 col-md-4 marTop20">
				<div class="panel-content text-center">
					<div class="panel-title">
						<i class="iconfont">&#xe60f;</i>
						<em>资金管理</em>
					</div>
					<div class="table-content">
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>昨日收入</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>当期收入</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6 bor-right">
								<h4>累计收入</h4>
								<span>40</span>
							</div>
						</a>
						<a href="#">
							<div class="col-sm-6">
								<h4>养号设备</h4>
								<span>40</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>