@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id："173800" */
  src: url("//at.alicdn.com/t/font_6if5xatxrl01wcdi.eot");
  src: url("//at.alicdn.com/t/font_6if5xatxrl01wcdi.eot") format("embedded-opentype"), url("//at.alicdn.com/t/font_6if5xatxrl01wcdi.woff") format("woff"), url("//at.alicdn.com/t/font_6if5xatxrl01wcdi.ttf") format("truetype"), url("//at.alicdn.com/t/font_6if5xatxrl01wcdi.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  color: #57C8F2;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.panel-title {
  width: 100px;
  height: 100px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  text-align: center;
  margin: 5px auto;
  position: relative;
}
.panel-title em,
.panel-title i {
  display: block;
  position: absolute;
}
.panel-title em {
  top: 55px;
  left: 20px;
  color: #57C8F2;
}
.panel-title i {
  top: 6px;
  left: 30px;
}

.panel-content {
  border: 1px solid #e1e1e1;
}

.table-content {
  border-bottom: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-bottom: -5px;
}
.table-content a {
  display: block;
  height: 100%;
}
.table-content a .col-sm-6 {
  border-top: 1px solid #e1e1e1;
}
.table-content a .bor-right {
  border-right: 1px solid #e1e1e1;
}

.information-content li {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-top: 1px solid #e1e1e1;
}
.information-content li span {
  float: left;
  margin-left: 5px;
}
.information-content li em {
  float: right;
  margin-right: 5px;
}
.information-content li:last-child {
  height: 20px;
  font-size: 12px;
  line-height: 30px;
}

.marTop20 {
  margin-top: 20px;
}
